---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import MainSection from '../layouts/MainSection.astro';
import Modal from '../components/Modal.astro';

import Placeholder from '../assets/images/placeholder.png';
import Button from '../components/Button.astro';

const config = await (await fetch(new URL('/config.json', Astro.url))).json();

---

<Layout title={config.title} backgroundColor={config.color}>

        <div class= "bg-white rounded-lg shadow-lg p-8 max-w-lg mx-auto">
            <img src={`/logo.png`} style="max-width: 300px;" class="mb-4 mx-auto" />
            <p class="mb-16 text-center">{config.text}</p>
            <hr class="mb-4" />
            <p class="mb-4">{config.sponsor_text}</p>
            <img src={config.sponsor_logo} style="max-width: 200px;" />
        </div>

</Layout>
